@use '_util' as u;

/* Variables */

:root {
  --c-neutral-base: #b7b8bc;
  --c-neutral-bg: #e1e1e1;
  --c-neutral-dark: #121420;
  --c-neutral-light: #4e515d;
  --c-neutral-lighter: #82848c;
  --c-neutral-main: #191d2d;
  --c-neutral-white: #fafafa;

  --c-pink-bg: #ffebf1;
  --c-pink-base: #f8cad7;
  --c-pink-dark: #a01e43;
  --c-pink-light: #eb6187;
  --c-pink-lighter: #f195ae;
  --c-pink-main: #e42b5f;
  --c-purple-base: #f2cafb;

  --c-purple-dark: #8f1da8;
  --c-purple-light: #d960f4;
  --c-purple-lighter: #e594f7;
  --c-purple-main: #cc2af0;

  --c-green-base: #c9ddb1;
  --c-green-dark: #457c00;
  --c-green-light: #84bf3b;
  --c-green-lighter: #a7ce76;
  --c-green-main: #62b000;

  --f-h1: #{u.rem(62)};
  --f-h2: #{u.rem(48)};
  --f-h3: #{u.rem(40)};
  --f-h4: #{u.rem(32)};
  --f-h5: #{u.rem(24)};
  --f-h6: #{u.rem(20)};
  --f-body: #{u.rem(16)};
  --f-button: #{u.rem(15)};
  --f-caption: #{u.rem(12)};
  --f-link: #{u.rem(10)};
}

/* Normalization */

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: var(--f-body);
  font-weight: 300;
  line-height: 1.35;
  color: var(--c-neutral-main);
  background-color: var(--c-pink-base);
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  transition: 150ms ease-in-out;
  transition-property: color, background-color;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  transition: 0.2s ease;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.noscroll {
  overflow-y: hidden;
}

/* Spacing */

.container {
  max-width: 90rem;
  margin: 0 auto;

  &--pall {
    padding: 4rem 1rem;

    @include breakpoint-up(large) {
      padding: 5rem;
    }
  }

  &--px {
    padding-right: 1rem;
    padding-left: 1rem;

    @include breakpoint-up(large) {
      padding-right: 5rem;
      padding-left: 5rem;
    }
  }
}

/* Buttons */

.button {
  position: relative;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  overflow: hidden;
  font-size: var(--f-button);
  font-weight: 600;
  color: currentcolor;
  cursor: pointer;
  user-select: none;
  background: transparent;
  border: 1px solid currentcolor;
  border-radius: 3.125rem;
  transition: opacity 300ms ease-in-out;

  &--round {
    padding: 0.75rem;
  }

  > .button-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-left: 0.25rem;
    vertical-align: middle;
  }

  &::before {
    position: absolute;
    inset: 0;
    content: '';
    background-color: rgb(255 255 255 / 0.25);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  &:hover::before {
    opacity: 1;
  }
}

/* Visibility */

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

/* Text */

h1,
h2,
h3 {
  font-family: Gullia, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: var(--c-neutral-main);
}

h1 {
  margin-bottom: 1.25rem;
  font-family: Gullia, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.15;

  @include breakpoint-up(large) {
    margin-bottom: 0.75rem;
    font-size: var(--f-h1);
  }
}

h2 {
  margin-bottom: 1.25rem;
  font-family: Gullia, sans-serif;
  font-size: 1.875rem;
  font-weight: 400;

  @include breakpoint-up(large) {
    margin-bottom: 0.75rem;
    font-size: var(--f-h3);
  }
}

h3 {
  font-family: Gullia, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;

  @include breakpoint-up(large) {
    font-size: var(--f-h6);
  }
}

.no-wrap {
  white-space: nowrap;
}

.accent {
  color: var(--c-pink-main);
}

/* Fonts */

/* woff2: Chrome 26+, Opera 23+, Firefox 39+ */

/* woff: Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('/fonts/NunitoSans-Light.woff2') format('woff2'),
    url('/fonts/NunitoSans-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/NunitoSans-Regular.woff2') format('woff2'),
    url('/fonts/NunitoSans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/NunitoSans-SemiBold.woff2') format('woff2'),
    url('/fonts/NunitoSans-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Gullia;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Gullia-Regular.woff2') format('woff2'),
    url('/fonts/Gullia-Regular.woff') format('woff');
  font-display: swap;
}
