.hero {
  background-color: var(--c-pink-base);

  .container {
    @include breakpoint-up(large) {
      display: flex;
    }
  }

  &__heading {
    position: relative;
    z-index: 10;
  }

  &__image {
    position: relative;
    min-height: 18rem;
    background-image: url('/img/hero.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    @include breakpoint-up(medium) {
      min-height: 25rem;
    }

    @include breakpoint-up(large) {
      flex: 4;
      order: 2;
      height: 38.75rem;
      background-image: none;
    }

    &::after {
      position: absolute;
      display: none;
      width: 38.75rem;
      height: 40.625rem;
      content: '';
      background-image: url('/img/hero-desktop.png');
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: contain;

      @include breakpoint-up(large) {
        left: -62%;
        display: block;
      }

      @include breakpoint-up(xlarge) {
        left: -86%;
      }
    }
  }

  &__text {
    margin-top: 2rem;
    text-align: center;

    @include breakpoint-up(large) {
      flex: 7;
      order: 1;
      margin-top: 6.8125rem;
      text-align: left;
    }

    > p {
      max-width: 80%;
      padding-top: 1.75rem;
      margin: auto;
      font-size: var(--f-body);
      font-weight: 300;

      @include breakpoint-up(large) {
        max-width: 60%;
        padding-top: 0.75rem;
        margin: unset;
        text-align: left;
      }
    }

    .button {
      margin-top: 1.25rem;
    }
  }

  &__letter {
    display: inline-block;
    width: 6rem;
    height: 3.2rem;
    padding: 3px;
    margin: 0 4px;
    vertical-align: middle;
    border: 1px solid var(--c-pink-main);
    border-radius: 50px;
  }

  &__benefits {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    margin-top: 1.5rem;

    @include breakpoint-up(medium) {
      flex-direction: row;
    }

    @include breakpoint-up(large) {
      margin-top: 6.25rem;
    }
  }

  &__badge {
    z-index: 10;
    display: flex;
    align-items: center;
    width: 70%;
    padding: 0.5rem 0.75rem 0.5rem 0.5rem;
    font-size: var(--f-button);
    font-weight: 400;
    color: var(--c-neutral-main);
    border: 1px solid var(--c-neutral-main);
    border-radius: 50px;

    @include breakpoint-up(large) {
      width: unset;
    }

    > .badge-icon {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      margin-right: 0.75rem;
    }

    &-heading {
      font-size: var(--f-caption);
      text-align: left;
    }

    &-text {
      font-size: var(--f-link);
      color: var(--c-neutral-light);
      text-align: left;
    }
  }
}
