.hero {
  .container--hero {
    padding-right: 1rem;
    padding-left: 1rem;

    @include breakpoint-up(large) {
      display: flex;
      padding-right: 5rem;
      padding-left: 11rem;
    }
  }

  &__image {
    position: relative;
    z-index: -10;
    height: 18rem;
    background-image: url('/img/hero.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    @include breakpoint-up(medium) {
      height: 25rem;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 28.4375rem;
      background-image: none;
    }

    @include breakpoint-up(xlarge) {
      flex: 4;
      height: 40.625rem;
    }

    &::after {
      position: absolute;
      display: none;
      width: 27.125rem;
      height: 28.4375rem;
      content: '';
      background-image: url('/img/hero-desktop.png');
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: contain;

      @include breakpoint-up(large) {
        top: 10%;
        left: -56%;
        display: block;
      }

      @include breakpoint-up(xlarge) {
        top: 0%;
        left: -79%;
        width: 38.75rem;
        height: 40.625rem;
      }
    }
  }

  &__text {
    margin-top: 2rem;
    text-align: center;

    @include breakpoint-up(large) {
      flex: 7;
      order: 1;
      margin-top: 6.8125rem;
      text-align: left;
    }
  }

  &__description {
    margin: auto auto 1.25rem;

    @include breakpoint-up(large) {
      max-width: 60%;
      margin: 0 0 1.25rem;
    }
  }

  &__letter {
    display: inline-block;
    width: 6rem;
    height: 3.2rem;
    padding: 0.187rem;
    margin: 0 0.25rem;
    vertical-align: middle;
    border: 1px solid var(--c-pink-main);
    border-radius: 3.125rem;
  }

  &__benefits {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    margin-top: 1.5rem;

    @include breakpoint-up(medium) {
      flex-direction: row;
    }

    @include breakpoint-up(large) {
      margin-top: 6.25rem;
    }
  }

  &__badge {
    display: flex;
    align-items: center;
    width: 70%;
    padding: 0.5rem 0.75rem 0.5rem 0.5rem;
    font-size: var(--f-button);
    border: 1px solid var(--c-neutral-main);
    border-radius: 3.125rem;

    @include breakpoint-up(large) {
      width: unset;
    }

    > .badge-icon {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      margin-right: 0.75rem;
    }

    &-heading {
      font-size: var(--f-caption);
      text-align: left;
    }

    &-text {
      font-size: var(--f-link);
      color: var(--c-neutral-light);
      text-align: left;
    }
  }
}
