.intro {
  background-color: var(--c-pink-bg);

  .container--intro {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;

    @include breakpoint-up(large) {
      flex-direction: row;
    }
  }

  &__image {
    max-width: 31.5rem;
    max-height: 32.5rem;

    @include breakpoint-up(xlarge) {
      max-width: 39.375rem;
      max-height: 40.625rem;
    }
  }

  &__text {
    text-align: center;

    @include breakpoint-up(large) {
      text-align: left;
    }

    @include breakpoint-up(xlarge) {
      padding: 6.25rem 0;
      margin-top: 7rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    margin-top: 2.5rem;

    @include breakpoint-up(xlarge) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__column {
    font-weight: 300;

    p {
      margin-top: 0.625rem;
    }
  }
}
