.upcoming {
  background-image: url('/img/upcoming-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .container--upcoming {
    padding: 4rem 1rem;

    @include breakpoint-up(large) {
      padding: 9rem 5rem;
    }
  }

  &__image {
    max-width: 31.5rem;
    max-height: 32.5rem;

    @include breakpoint-up(xlarge) {
      max-width: 39.375rem;
      max-height: 40.625rem;
    }
  }

  &__text {
    max-width: 70%;

    @include breakpoint-up(medium) {
      max-width: calc(min(35rem, 55%));
    }

    p {
      margin: 0.75rem 0;
      font-weight: 300;
    }
  }
}
